<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Credit Card</th>
      <th scope="col">Franchise</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact|%>
        <tr>
            <td><%= contact.name %></td>
            <td><%= contact.dob %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.address %></td>
            <td><%= contact.credit_card %></td>
            <td><%= contact.card_franchise %></td>
            <td><%= contact.email %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @contacts %>