<h1 id="Title">Your CSV Files</h1>

<!-- Button trigger modal -->
<!-- Button trigger modal -->
<button id="UploadButton" type="button" class="btn btn-warning p-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Upload CSV File
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Upload File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%= form_with model: @new_csv do |f| %>
                <div>
                <div class="field mb-3">
                    <%= f.label :file, class: 'form-label' %><br />
                    <%= f.file_field :file, autofocus: true, class: 'form-control form-control-lg'%>
                </div>
                <h5>columns order</h5>
                <div class="row">
                <%= f.fields_for 'order', @new_csv.order do |p| %>
                    <% @select_fields.each_with_index do |field, index| %>
                            <div class="field col">
                                <%= p.label "Column #{index + 1}", class: 'form-label' %><br />
                                <%= p.select("", @select_fields, selected: field, class: 'form-select')%>
                            </div>
                    <% end %>
                <% end %>
                </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <%= f.submit "Upload", class: 'btn btn-primary' %>
                </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <% @files.each do |file|%>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= file.id %>">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= file.id %>" aria-expanded="true" aria-controls="collapse<%= file.id %>">
                <%= file.updated_at.strftime("%F")%>
            </button>
            </h2>
            <div id="collapse<%= file.id %>" class="accordion-collapse collapse show" aria-labelledby="heading<%= file.id %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p> state: <%= file.state %></p>
                <p> logs: <%= file.logs %>
            </div>
        </div>
    <% end %>
</div>